{% extends 'member_base.html' %}

{% load staticfiles %}

{% block content %}
<div class="container">
  <br />
  <div class="row">
    <a class="btn red" href="{% url 'fines.views.add_fine' %}">Add Fine</a>
  </div>
  <div class="row">
    <table class="bordered highlight">
      <thead>
        <tr>
          <th data-field="last_name">Last Name</th>
          <th data-field="first_name">First Name</th>
          <th data-field="total_fines">Total Fines</th>
        </tr>
      </thead>

      <tbody>
        {% for fine in fines %}
          <tr id="{{ fine.user__id }}">
            <td>{{ fine.user__last_name }}</td>            
            <td>{{ fine.user__first_name }}</td>            
            <td>${{fine.total}}</td>            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static "fines/js/manager.js" %}"></script>
{% endblock %}