{% extends 'member_base.html' %}

{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <table class="bordered highlight" id="fineTable">
      <thead>
        <tr>
          <th></th>        
          <th data-field="first_name">Fine Reason</th>
          <th data-field="total_fines">Fine</th>
        </tr>
      </thead>

      <tbody>
        {% for fine in fines %}
          <tr>
            <td>
              <input type="checkbox" id="{{ fine.id }}" />
              <label for="{{ fine.id }}"></label>
            </td>
            <td>{{ fine.reason }}</td>            
            <td>${{ fine.amount }}</td>            
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td><div id="total">$0.00</div></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="row">
    <a class="btn red" id="payFineButton">Pay Fines</a>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="{% static "fines/js/userManager.js" %}"></script>
{% endblock %}