<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <title>SigEp - KY Beta</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="grey lighten-2" role="navigation">
    <div class="nav-wrapper container">
      <a href="index.html" class="brand-logo red-text">
        SigEp
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
        <li><a href="bms.html">Balanced Man Scholarship</a></li>
        <li><a>Contact Us</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="bms.html">Balanced Man Scholarship</a></li>
        <li><a>Contact Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div class="container">
    <h2 class="header center">Chapter Contact Information</h2>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col s12 m4 l4 center">
        <h4>President</h3>
        <p style="font-size:110%">Jordan Adams<br>jadams0429@gmail.com</br></p>
      </div>
      <div class="col s12 m4 l4 center">
        <h4>VP of Programming</h3>
        <p style="font-size:110%">Johnathan Sanklin<br>shanklin02@gmail.com</br></p>
      </div>
      <div class="col s12 m4 l4 center">
        <h4>Chaplain</h3>
        <p style="font-size:110%">Trevor Gocke<br>trevorgocke@gmail.com</br></p>
      </div>
    </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col s12 m4 l4 center">
        <h4>VP of Recruitment</h3>
        <p style="font-size:110%">Dexter Smith<br>dexter.smith04@gmail.com</br></p>
      </div>
      <div class="col s12 m4 l4 center">
        <h4>VP of Finance</h3>
        <p style="font-size:110%">Michael Price<br>Mmprice13@gmail.com</br></p>
      </div>
      <div class="col s12 m4 l4 center">
        <h4>VP of Member Development</h3>
        <p style="font-size:110%">Brad Proffitt<br>bradproffitt94@gmail.com</br></p>
      </div>
    </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
      <div class="col s12 m4 l4 center">
        <h4>VP of Services</h3>
        <p style="font-size:110%">Devin Kelly<br>Devinkelly405@gmail.com</br></p>
      </div>
      <div class="col s12 m4 l4 center">
        <h4>VP of Communication</h3>
        <p style="font-size:110%">Brad Hoffman<br>BradleyDavidHoffman@gmail.com</br></p>
      </div>
      <div class="col s12 m4 l4 center">
        <h4>BMS Chair</h3>
        <p style="font-size:110%">Jake Guhy<br>Jakeguhy2@gmail.com</br></p>
      </div>
    </div>
    </div>
  </div>

 <footer class="page-footer white">
    <div class="footer-copyright grey lighten-2">
      <div class="container">
        <div class="row left black-text">
          &copy; 2015 Sigma Phi Epsilon KY Beta
        </div>
        <div class="row right black-text">
          Version 1.0.0
        </div>
    </div>
 </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
