<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <title>SigEp - KY Beta</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="grey lighten-2" role="navigation">
    <div class="nav-wrapper container">
      <a href="index.html">
        <img class="brand-logo" style="height:80%;padding-top:1%" src="/static/images/sigep_logo.png" />
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a>Home</a></li>
        <li><a href="bms.html">Balanced Man Scholarship</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a>Home</a></li>
        <li><a href="bms.html">Balanced Man Scholarship</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">Sigma Phi Epsilon</h1>
        <div class="row center">
          <h5 class="header col s12 light">KY Beta - University of Louisville</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="/static/images/spring_formal_group.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->

      <div class="row center">
        <h4 class="header col s12 light">What does it mean to be a SigEp?</h5>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><img class="circle responsive-img" src="/static/images/evan_face.jpg" width="120px" height="120px"/></h2>
            <h5 class="center">Evan Parr</h5>

            <blockquote>The most rewarding part of being a SigEp isn’t just building yourself to become a better man; it’s facilitating the growth and development of those who come after you. In my time as an active, I found that there was nothing greater than helping those become a better leader, scholar, and brother right before my eyes. Not only does it feel good to give back for the guidance I received when I first joined the chapter, it also assures me that chapter is left in more than capable hands after I graduate.</blockquote>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><img class="circle responsive-img" src="/static/images/austin_face.jpg" width="120px" height="120px"/></h2>
            <h5 class="center">Austin Buchanan</h5>

            <blockquote>Being in a fraternity is a notion that is under attack currently. Due to the mistakes of many, people are calling for the abolishment of the Greek system, they call it antiquated, and say it promotes the worst facets of society. Which is why I am all the more proud I became a Sigma Phi Epsilon. The programs, the leadership, and the mentality of Kentucky Beta gave me confidence in myself, taught me to be a humble leader, and connected me to my campus. I have met wonderful people that I never would have come across without this organization.</blockquote>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center purple-text text-darken-3"><img class="circle responsive-img" src="/static/images/brad_face.jpg" width="120px" height="120px"/></h2>
            <h5 class="center">Brad Hoffman</h5>

            <blockquote>I didn’t know what to expect when I went through rush. I visited every fraternity and liked certain things about each. When I visited SigEp though, I knew that this was the fraternity I wanted to join. SigEp is more than just a group of guys you hang out, do service, and play sports with. It is a lifetime commitment to continuous development in all aspects of life, to being a better person all around, and to not becoming stagnant as you grow older. SigEp has offered me so much in terms of leadership opportunities, challenges for personal growth, and a group of guys that I can call my brothers. I am proud to be a SigEp.</blockquote>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="/static/images/fryberger.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row center">
        <h4 class="header col s12 light">Want to learn more about SigEp?</h5>

        <a class="waves-effect waves-light btn-large red" href="contact.html">Contact Us</a>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="/static/images/conclave.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <footer class="page-footer white">
    <div class="footer-copyright grey lighten-2">
      <div class="container">
        <div class="row left black-text">
          &copy; 2015 Sigma Phi Epsilon KY Beta
        </div>
        <div class="row right black-text">
          Version 1.0.0
        </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
