<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>SigEp - KY Beta</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body class="site-body">
  <nav class="grey lighten-2" role="navigation">
    <div class="nav-wrapper container">
      <a href="{% url 'home.views.index' %}">
        <img class="brand-logo" style="height:80%;padding-top:1%" src="/static/images/sigep_logo.png" />
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'home.views.index' %}">Home</a></li>
        <li><a href="{% url 'home.views.bms' %}">Balanced Man Scholarship</a></li>
        <li><a href="{% url 'home.views.contact' %}">Contact Us</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'accounts.views.logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'accounts.views.login' %}">Login</a></li>
        {% endif %}
      <li><a>Welcome, {{user.get_username}}</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="{% url 'home.views.index' %}">Home</a></li>
        <li><a href="{% url 'home.views.bms' %}">Balanced Man Scholarship</a></li>
        <li><a href="{% url 'home.views.contact' %}">Contact Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <main class="site-content">
  {% block content %}
  {% endblock %}
  </main>
  
  <footer class="page-footer white">
  <div class="footer-copyright grey lighten-2">
    <div class="container">
      <div class="row left black-text">
        &copy; 2015 Sigma Phi Epsilon KY Beta
      </div>
      <div class="row right black-text">
        Version 1.0.3
      </div>
    </div>
  </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>
  
  {% block javascript %}
  {% endblock %}
</body>
</html>
