{% extends "base.html" %}

{% block title %}
Contact Us - SigEp - Ky Beta
{% endblock %}

{% block content %}
<div class="container center">
  <h2 class="header">Chapter Contact Information</h2>

  <div class="row">
    <div class="col s12 m6 l6">
      <h4>President</h4>
      <p style="font-size:110%">Ryan Long<br>ryan.long1094@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l6">
      <h4>Chaplain</h4>
      <p style="font-size:110%">Parker Howard<br>Parker.T.Howard@gmail.com</br></p>
    </div>
  </div>

  <h3 class="header center">Vice Presidents</h3>

  <div class="row">
    <div class="col s12 l4">
      <h4>Programming</h4>
      <p style="font-size:110%">Brian Loney<br>Bloney1920@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Member Development</h4>
      <p style="font-size:110%">Sheldon Burks<br>sheldon.burks@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Finance</h4>
      <p style="font-size:110%">Kevin Chesser<br>kevinchesser00@gmail.com</br></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l4">
      <h4>Recruitment</h4>
      <p style="font-size:110%">Jake Guhy<br>Jakeguhy2@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Services</h4>
      <p style="font-size:110%">Dan Ashby<br>danashby44@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Communications</h4>
      <p style="font-size:110%">Alex Taulbee<br>Alextaulbe@gmail.com</br></p>
    </div>
  </div>

  <div class="row">
      <h4>BMS Chair</h4 >
      <p style="font-size:110%">Luke Tobergte<br>ltober20@gmail.com</br></p>
  </div>
</div>
{% endblock %}