{% extends "base.html" %}

{% block title %}
Contact Us - SigEp - Ky Beta
{% endblock %}

{% block content %}
<div class="container center">
  <h2 class="header">Chapter Contact Information</h2>

  <div class="row">
    <div class="col s12 m6 l6">
      <h4>President</h4>
      <p style="font-size:110%">Jake Guhy<br>Jakeguhy2@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l6">
      <h4>Chaplain</h4>
      <p style="font-size:110%">Joey Costello<br>joeycostello2@gmail.com</br></p>
    </div>
  </div>

  <h3 class="header center">Vice Presidents</h3>

  <div class="row">
    <div class="col s12 l4">
      <h4>Programming</h4>
      <p style="font-size:110%">Andrew Beiersdorfer<br>ajbeiersdorfer@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Member Development</h4>
      <p style="font-size:110%">Tyler Sutherland<br>tbsuth01@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Finance</h4>
      <p style="font-size:110%">Jacob Shaffer<br>shafferjacob10@gmail.com</br></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l4">
      <h4>Recruitment</h4>
      <p style="font-size:110%">Neal McKiernan<br>neal.mckiernan@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Services</h4>
      <p style="font-size:110%">Eric Elder<br>ericelder21@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Communications</h4>
      <p style="font-size:110%">Peter Markgraf<br>pjmark02@gmail.com</br></p>
    </div>
  </div>

  <div class="row">
      <h4>BMS Chair</h4 >
      <p style="font-size:110%">Ethan Sammons<br>ethansammons@gmail.com</br></p>
  </div>
</div>
{% endblock %}
