{% extends "base.html" %}

{% block title %}
Contact Us - SigEp - Ky Beta
{% endblock %}

{% block content %}
<div class="container center">
  <h2 class="header center">Chapter Contact Information</h2>

  <div class="row">
    <div class="col s12 m6 l6">
      <h4>President</h4>
      <p style="font-size:110%">Jordan Adams<br>jadams0429@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l6">
      <h4>Chaplain</h4>
      <p style="font-size:110%">Trevor Gocke<br>trevorgocke@gmail.com</br></p>
    </div>
  </div>

  <h3 class="header center">Vice Presidents</h3>

  <div class="row">
    <div class="col s12 m6 l4">
      <h4>Recruitment</h4>
      <p style="font-size:110%">Dexter Smith<br>dexter.smith04@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Finance</h4>
      <p style="font-size:110%">Michael Price<br>Mmprice13@gmail.com</br></p>
    </div>
    <div class="col s12 l4">
      <h4>Member Development</h4>
      <p style="font-size:110%">Brad Proffitt<br>bradproffitt94@gmail.com</br></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l4">
      <h4>Services</h4>
      <p style="font-size:110%">Devin Kelly<br>Devinkelly405@gmail.com</br></p>
    </div>
    <div class="col s12 m6 l4">
      <h4>Communications</h4>
      <p style="font-size:110%">Brad Hoffman<br>BradleyDavidHoffman@gmail.com</br></p>
    </div>
    <div class="col s12 l4">
      <h4>BMS Chair</h4 >
      <p style="font-size:110%">Jake Guhy<br>Jakeguhy2@gmail.com</br></p>
    </div>
  </div>
</div>
{% endblock %}